*.o
out

source/uboot/rkbin/tools/resource_tool

source/busybox
source/kernel/drv_ko/*

tools/board/android-tools/android-tools
tools/board/dosfstools/dosfstools-4.2
tools/board/e2fsprogs/e2fsprogs-1.43.9
tools/board/eudev/eudev-3.2.7
tools/board/eudev/kmod-29
tools/board/eudev/util-linux-2.37.2
tools/board/gdb/expat-2.4.1
tools/board/gdb/gdb-10.2
tools/board/stressapptest/stressapptest-master
tools/board/toolkits/openssl/openssl-1.1.1h
tools/board/toolkits/zlib/zlib-1.2.11
tools/board/memtester/memtester-4.3.0
tools/pc/toolkits/resource_tool

# expat-2.4.1
